html,body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Contenedor */
.container {
    width: 70%;
    margin: 10px auto;
}
.panel {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
/* Botonera */
.panel button {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.panel button:hover {
    background-color: #005bb5;
}
/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #0066cc;
    color: white;
}
.actions a {
    color: #0066cc;
    text-decoration: none;
}
.actions a:hover {
    text-decoration: underline;
}
.detalle th, .detalle td{
    text-align: left;
}
.detalle td:nth-child(1){
    background-color: #cccccccc;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
}
.flash-message {
    
    color: #383d41;
}
/* Mensajes flash */
.flash-message-ok {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d6d8db;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #155724;
    border-color: #c3e6cb;
}

.flash-message-ko {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d6d8db;
    border-radius: 4px;
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}
/* Formulario */
form input {
    width: 100%;
    border: none;
    box-sizing: border-box;
}
form input:focus {
    outline: none;
}
form td:focus-within {
    outline: none; 
    border-bottom: 1px solid #0066cc;
}
form input[type="radio"] {
    width: auto;
}
form .button-group {
    margin-top: 10px;
    float: right;
}
form button {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.detalle th:first-child a {
    float: right;
}
/* Imagenes */
td img{
    max-width: 100%;
    max-height: 50%;
}

/* Login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container-content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
    text-align: center;
}

.login-container-content h1 {
    margin-bottom: 20px;
    color: #333;
}

.login-container-content .input-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-container-content .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-container-content .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-container-content .btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container-content .btn:hover {
    background-color: #0056b3;
}

#login-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* Colores Movimientos */
.ingreso {
    color: #28a745;
}
.extraccion {
    color: #dc3545;
}