<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			th:href="@{/img/favicon.png}"
			type="image/x-icon"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cajero Virtual</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div class="container">
			<!-- Panel de Administración -->
			<div class="panel">
				<!-- Titulo y mensajes flash -->
				<div>
					<div>
						<h2>Cajero Virtual</h2>
						<p>
							<b>Nº de Cuenta:</b> <span th:text="${objCuenta.idCuenta}"></span>
						</p>
						<p>
							<b>Saldo cuenta:</b>
							<span th:text="${objCuenta.saldo}  + ' €'"></span>
						</p>
						<p>
							<b>Tipo de cuenta:</b>
							<span th:text="${objCuenta.tipoCuenta}"></span>
						</p>
					</div>
					<!-- Mensaje Flash -->
					<div
						th:if="${mensajeOk}"
						class="flash-message-ok"
						th:text="'💰&nbsp;&nbsp;' + ${mensajeOk}"
					></div>
					<div
						th:if="${mensajeKo}"
						class="flash-message-ko"
						th:text="'❌&nbsp;&nbsp;' + ${mensajeKo}"
					></div>
				</div>

				<!-- Botonera de administración -->
				<div class="button-group">
					<button
						th:onclick="'location.href=\'' + @{/movimientos/ingresar} + '\''"
					>
						Ingresar
					</button>
					<button
						th:onclick="'location.href=\'' + @{/movimientos/extraer} + '\''"
					>
						Extraer
					</button>
					<button
						th:onclick="'location.href=\'' + @{/movimientos/transferencia} + '\''"
					>
						Transferencia
					</button>
					<button th:onclick="'location.href=\'' + @{/verMovimientos} + '\''">
						Ver Movimientos
					</button>
					<button th:onclick="'location.href=\'' + @{/exit} + '\''">
						Salir
					</button>
				</div>
			</div>

			<!-- Tabla de Movimientos -->
			<table>
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Importe</th>
						<th>Tipo de operación</th>
					</tr>
				</thead>
				<tbody>
					<!-- Datos en la tabla -->
					<tr
						th:each="objMovimiento : ${listaMovimientos}"
						th:classappend="${objMovimiento.isIngreso()} ? 'ingreso' : 'extraccion'"
					>
						<td
							th:text="${#dates.format(objMovimiento.fecha,'dd-MM-yyyy HH:mm:ss')}"
						></td>
						<td th:text="${objMovimiento.cantidad} + ' €'"></td>
						<td th:text="${objMovimiento.operacion}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
