<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<link
			rel="shortcut icon"
			th:href="@{/img/favicon.png}"
			type="image/x-icon"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cajero Virtual</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div class="container">
			<!-- Panel de Administración -->
			<div class="panel">
				<!-- Título y mensajes flash -->
				<div>
					<h2
					th:text="'Todos los Préstamos de la cuenta: ' + ${objCuenta.IdCuenta}"
					></h2>
					<!-- Mensaje Flash -->
					<div
						th:if="${mensajeOk}"
						class="flash-message-ok"
						th:text="'💰&nbsp;&nbsp;' + ${mensajeOk}"
					></div>
					<div
						th:if="${mensajeKo}"
						class="flash-message-ko"
						th:text="'❌&nbsp;&nbsp;' + ${mensajeKo}"
					></div>
				</div>
				
				<div class="button-group">
					<button th:onclick="'location.href=\'' + @{/index} + '\''">◀︎</button>
					<button
						th:onclick="'location.href=\'' + @{/movimientos/ingresar} + '\''"
					>
						Ingresar
					</button>
					<button
						th:onclick="'location.href=\'' + @{/movimientos/extraer} + '\''"
					>
						Extraer
					</button>
					<button
						th:onclick="'location.href=\'' + @{/movimientos/transferencia} + '\''"
					>
						Transferencia
					</button>
					<button th:onclick="'location.href=\'' + @{/verMovimientos} + '\''">
						Ver Movimientos
					</button>
					<button th:onclick="'location.href=\'' + @{/exit} + '\''">
						Salir
					</button>
				</div>
			</div>
			
			<!-- Gestión de Préstamos -->
			<div class="panel button-group">
				<button th:onclick="'location.href=\'' + @{/prestamos/crear} + '\''">
					Solicitar Prestamo
				</button>
			</div>

			<!-- Tabla de Préstamos -->
			<table>
				<thead>
					<tr>
						<th>Fecha del Préstamo</th>
						<th>Descripción</th>
						<th>Cantidad del Préstamo (€)</th>
						<th>Tasa de Interés Anual (%)</th>
						<th>Plazo en Meses</th>
						<th>Tipo de Cuota</th>
						<th>Cancelar</th>
					</tr>
				</thead>
				<tbody>
					<!-- Datos en la tabla -->
					<tr th:each="objprestamo : ${listaPrestamos}">
						<td
							th:text="${#dates.format(objprestamo.fechaPrestamo,'dd-MM-yyyy')}"
						></td>
						<td th:text="${objprestamo.descripcion}"></td>
						<td th:text="${objprestamo.cantidadPrestamo} + ' €'"></td>
						<td th:text="${objprestamo.tasaInteresAnual} + ' %'"></td>
						<td th:text="${objprestamo.plazoMeses}"></td>
						<td th:text="${objprestamo.tipoCuota}"></td>
						<td>
							<a
								th:href="@{/prestamos/borrar/{idPrestamo}(idPrestamo=${objprestamo.idPrestamo})}"
								class="cancelar"
							>
								<img th:src="@{/img/cancelar.png}" alt="Cancelar" />
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
